*{
    margin: 0;
    padding: 0;
}
.coe{
    padding: 0px 8px;
    color: white;
    border: 0px;
    position: relative;
    overflow: hidden;
    font-size: 35px;
}
.coe::after{
    content: "";
    display: block;
    background-color:white;
    height: 4px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    
}
.coe:hover::after{
    transform-origin:left;
    transform: scaleX(1);
}
.coe{
    padding: 20px 0px 0px 65px;
}
.header{
    background-color: #00205b;
}
.container{
    padding: 10px 0px 15px 75px;
}
.menu-bar{
    color: #fff;
}
.menu-bar ul {
    padding: 0px 0px 0px 70px;
}
.menu-bar ul li{
    display: inline-block;
    padding: 25px 20px 20px 20px;
    font-weight: bold;
    font-size: 20px;
}

.menu-bar ul li .drop-about ul{
    display: none;
}
.menu-bar ul li:hover .drop-about{
    display: block;
    position: absolute;
    color: #fff;
    background-color: #00205b;
    margin: 15px 0px 0px 15px;
}
.menu-bar ul li:hover .drop-about ul {
    display:block;
    margin: 10px;
}
.menu-item li{
    padding: 0px 8px;
    color: white;
    border: 0px;
    position: relative;
    overflow: hidden;
    font-size: 15px;
}
.menu-item::after{
    content: "";
    display: block;
    background-color:white;
    height: 4px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    
}
.menu-item:hover::after{
    transform-origin:left;
    transform: scaleX(1);
}
.container{
    display: flex;
}
.hero{
    z-index: 1;
    position: relative;
    height: 450px;
    width: 820px;
    left: 35vw;
    top: -1.4vh;
}
.box{
    z-index: 2;
    position: absolute;
    background-color: #00205b;
    height: 360px;
    width: 700px;
    top: 47vh;
    right: 50vw;
}
.box1{
    background-color: yellow;
    position: absolute;
    top: 220px;
    left: 50px;
    height: 8px;
    width: 85px;
}
.para1{
    position: absolute;
    top: 22px;
    left: 50px;
    color: #fff;
    font-size: 25px;
}
.para2{
    position: absolute; 
    top: 55px;
    left: 50px;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}
.para3{
    font-size: 25px;
    position: absolute;
    color: #fff;
    left: 50px;
    top: 240px;
}
.container-about{
    display: flex;
}
.about{
    z-index: 1;
    top: 120vh;
    left: 50vw;
    height: 380px;
    width: 590px;
    position: absolute;
}
.box-abt{
    position: absolute;
    top: 120vh;
    left: 5vw;
    height: 150px;
    width: 280px;
}
.para4{
    position: absolute;
    font-size: 20px;
    top: 145vh;
    left: 5vw;
}